.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]32/
[Bb]uild/
[Bb]uild[Ll]og/
artifacts/

publish/
*.Publish.xml

.idea/

*.nupkg
*.snupkg
*.nuspec
*.nupkg.sha512
*.nuget.props
*.nuget.targets
packages/
*.symbols.nupkg

*.swp
*.bak
*.tmp
*.log
*.DS_Store
Thumbs.db

*.local.json
*.env
.env
